html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

nav {
  display: flex;
  justify-content: center;
  gap: 20px;
}

#hero {
  text-align: center;
  padding: 7rem;
  background-color: #f4f4f4;
}

#main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: start;
}

#reviews {
  background-color: #f9f9f9;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
}

#reviews h2 {
  grid-column: 1 / -1; 
  text-align: center;
}

#contact {
  max-width: 400px;
  margin: auto;
  font-family: sans-serif;
}

#contact form {
  display: flex;
  flex-direction: column;
}

#contact label,
#contact input,
#contact textarea,
#contact button {
  margin-bottom: 0.5rem;
}

footer {
  text-align: center;
  padding: 1rem;
}